* {
	margin: 0;
	padding: 0;
}

body {
	margin: 20px 50px;
	font-family: helvetica;
}

h1 {
	margin-left: 150px;
}

.rect:hover {
	fill: orange;
	transition: 0.7s all;
}

.label {
	fill: black;
	font-size: 2em;
}

text {
	font-size: 1.3em;
}